body{
    background-color: #98980c;
}
body > header {
    background-color: #e2a219;
    display: flex;
    justify-content: center;

}
body > main > section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10em;
    padding: 3em;
}
#menu > ul
{
    list-style-type: none;
}
#menu > ul > li {
    padding-top: 20px;
}
#menu > ul > li > a
{
    color: rgb(10, 41, 5);
}   
body > main
{ 
    
    display: grid; 
    align-items: flex-start;
    grid-template-columns: auto 1fr;
  }

body > main > section > div {
    font-size: 1.3em;
    margin: 10px;
}
#result{
    font-size: 2.5em;
    font-style: italic;
    font-weight: bold;
}
#imput > div > div{
    display: flex;
    flex-direction: column; 
    
}
#image  {
    display: flex;
    flex-direction: column;
    align-items: center;
}