body {
    background-color: #ebebdb;
   
}
body > header {
    display: flex;
    justify-content: center;

}
body > main > section
{
    grid-area: "section";
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10em;
    

}
#menu > ul
{
    list-style-type: none;
}
#menu > ul > li {
    padding-top: 20px;
}
#menu > ul > li > a
{
    color: rgb(7, 14, 82);
}   
body > main
{ 
    
    display: grid; 
    align-items: flex-start;
    grid-template-areas: "section menu";
    grid-template-columns: auto 1fr;

  }

body > main > section > div {
    font-size: 1.5em;
    margin: 10px;
}
#result{
    font-size: 2.5em;
    font-style: italic;
    font-weight: bold;
}